{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


<form id="form-setting-data-{{ name }}-add" action="{{ url }}" method="post">
    <div class="card" style="max-width: 32rem">
        <div class="card-header">
            Ajouter {{ name|capfirst }}
        </div>
        <div class="card-body">
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}
        </div>
        <div class="card-footer">
            <input id="btn-submit-data-{{ name }}" class="btn" type="submit" value="">
        </div>
    </div>
</form>
