<div class="pt-3 pb-2 mb-3">
    <nav class="navbar">
        <div class="navbar-left">
            {% if title %}
                <h1>{{ title|title }}</h1>
            {% else %}
                <h1>{{ module|title }}</h1>
            {% endif %}
        </div>
        <div class="navbar-right">
            <div class="btn-group" role="group" aria-label="Tools buttons">
                <button id="{{ module }}-btn-add" type="button" class="btn btn-secondary bg-info"
                        data-toggle="modal" data-target="#{{ module }}-modal-add">
                    <i class="fas fa-plus-square"></i>
                </button>
                <button id="{{ module }}-btn-delete" type="button" class="btn btn-secondary disabled">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button id="{{ module }}-btn-edit" type="button" class="btn btn-secondary disabled" data-backdrop="false"
                        data-toggle="modal" data-target="#{{ module }}-modal-update">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
            <div id="{{ module }}-datatable-toolbar" class="btn-group" role="group" aria-label="DataTable buttons"></div>
        </div>
    </nav>
    <table id="{{ module }}-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            {% for column in list_columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tfoot>
        <tr>
            {% for column in list_columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        </tfoot>
    </table>
</div>
