<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column list-unstyled">
            {% for module, details in sidebar.items %}
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#{{ module }}-sub-module"
                       data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-{{ details.icon }}"></i> {{ details.name }}
                    </a>
                    <ul id="{{ module }}-sub-module" class="collapse list-unstyled px-5">
                        {% for sub_module, sub_details in details.sub_modules.items %}
                            <li>
                                <a id="{{ sub_module }}-link" class="nav-link nav-module" href="{{ sub_details.1 }}">
                                    <i class="fas fa-{{ sub_details.2 }}"></i> {{ sub_details.0 }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            <li class="nav-item">
                <a id="planning-link" class="nav-link nav-planning" href="{% url 'planning' %}">
                    <i class="fas fa-calendar-week"></i> Calendrier
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#settings"
                   data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-cog"></i> Paramètres
                </a>
                <ul id="settings" class="collapse list-unstyled px-5">
                    <li class="nav-item">
                        <a id="setting-data-link" class="nav-link nav-setting-data" href="{% url 'setting-data' %}">
                            <i class="fas fa-database"></i> Données
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="setting-graph-link" class="nav-link nav-setting-graph" href="{% url 'setting-graph' %}">
                            <i class="fas fa-chart-line"></i> Graphiques
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="setting-notif-link" class="nav-link nav-setting-notif" href="{% url 'setting-notif' %}">
                            <i class="fas fa-bell"></i> Notifications
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
